.scene {
  position: relative;
  top: 0px;
  left: -7px;
  width: 200px;
  height: 0;
  margin: auto;
  transform-style: preserve-3d;
  transform: rotateX(-20deg) rotateY(-45deg);
  transition: top .2s ease-in;

  z-index: 15;

  &.hovered {
    top: -10px;
    transition: top .2s ease-out;
  }

  .cap {
    position: absolute;
    width: 100%;
    height: 100%;
    
    transform-style: preserve-3d;

    .content {
      position: absolute;
      border: 2px solid var(--box_border);
      background-color: var(--box_pink);
    }

    .front {
      width: 220px;
      height: 40px;
      transform: translateZ(110px);
    }
    
    .back {
      width: 220px;
      height: 40px;
      transform: translateZ(-110px) rotateY(180deg);
    }
    
    .left {
      width: 220px;
      height: 40px;
      transform: rotateY(-90deg) translateZ(110px);
    }
    
    .right {
      width: 220px;
      height: 40px;
      transform: rotateY(90deg)  translateZ(110px);
    }
    
    .top {
      width: 220px;
      height: 220px;
      transform: rotateX(90deg) translateZ(110px);
    }
  }
}
