:root {
  --white: #f6f6f6;
  --gray: #746c6c;

  --box_pink: #fdc6e1;
  --box_dark_pink: #9c7b8b;
  --box_border: rgba(0, 0, 0, 0.096);

  --cat_main_color: #f06f24;

  --toilet_color: #ddcf4c;
  --toilet_dark_color: #978e36;

  --green: #59e436;
  --yellow: #f7f441;
  --red: #ee4f4f;
  --brown: #66481a;
}