.scene {
  width: 100%;
  height: 100%;

  .animationWrapper {
    position: relative;
    top: 50%;
    left: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: auto;

    transform: translate(-50%, -50%);

    z-index: 5;

    touch-action: none;

    .mainAnimation {
      width: 200px;
      height: 200px;
    }
  }

  .needs {
    position: absolute;
    top: 75%;
    left: 50%;

    transform: translateX(-50%);

    z-index: 5;

    &.hide {
      display: none;
    }
  }

  .toilet {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-20%, 50%);
  }

  .fish {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-70%, 60px);

    max-width: 100px;
    max-height: 100px;
    min-width: 100px;
    min-height: 100px;

    opacity: 0;

    z-index: 10;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .emotion {
    position: absolute;
    top: -120px;
    right: 55%;

    @media (max-width: 426px) {
      right: 50%;

      transform: translateX(-50%);
    }
  }
}
