.scene {
  position: relative;
  width: 200px;
  height: 0;
  margin: auto;
  transform-style: preserve-3d;
  transform: rotateX(-20deg) rotateY(-45deg);

  z-index: 10;

  .box {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;

    .content {
      position: absolute;
      border: 2px solid var(--box_border);
    }

    .front {
      width: 200px;
      height: 200px;

      background-color: var(--box_pink);

      transform: translateZ(100px);
    }
    
    .back {
      width: 200px;
      height: 200px;

      background-color: var(--box_dark_pink);
      
      transform: translateZ(-100px) rotateY(180deg);
    }
    
    .left {
      width: 200px;
      height: 200px;

      background-color: var(--box_dark_pink);
      
      transform: rotateY(-90deg) translateZ(100px);
    }
    
    .right {
      width: 200px;
      height: 200px;

      background-color: var(--box_pink);

      transform: rotateY(90deg)  translateZ(100px);
    }
    
    .bottom {
      width: 200px;
      height: 200px;

      background-color: var(--box_dark_pink);

      transform: rotateX(-90deg) translateZ(100px);
    }
  }
}
